<ul>
  <% @events_per_room.keys.each do |room| %>
    <li><%= room %></li>
    <ul>
      <% @events_per_room[room].each do |event| %>
        <li><%= event %></li>
      <%end%>
    </ul>
  <% end %>
</ul>
